 <!-- [ content ] Start -->
 <div class="container px-5">
    <br><br> <br><br>
     <div class="row d-flex justify-content-center ">
        
<div class="col col-md-6 col-sm-4 col-xs-4 px-5 " style="background-color: white; border-radius:4px;">
      <!-- [ Logo ] Start -->
     
      <div class="d-flex justify-content-center align-items-center mt-5">
          <div class="ui-w-60">
              <div class="w-100 position-relative">
                  <img src="assets/img/logo-dark.png" alt="Brand Logo" class="img-fluid">
              </div>
          </div>
      </div>
      <!-- [ Logo ] End -->

      <!-- [ Form ] Start -->
      <form class="my-5" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label class="form-label">Usuario</label>
              <input type="text" class="form-control" formControlName="username">
              <div class="clearfix"></div>
          </div>
          <div class="form-group">
              <label class="form-label d-flex justify-content-between align-items-end">
                  <span>Contraseña</span>
                  <a href="pages_authentication_password-reset.html" class="d-block small">Olvidaste tu contraseña?</a>
              </label>
              <input type="password" class="form-control" formControlName="password">
              <div class="clearfix"></div>
          </div>
          <div class="d-flex justify-content-between align-items-center m-0">
              <label class="custom-control custom-checkbox m-0">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-label">Mantener iniciada la sesión</span>
              </label>
              <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
      </form>
      <!-- [ Form ] End -->

    

    </div>
    </div>
    </div>
    