<div class="container-fluid flex-grow-1 container-p-y">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="javascript:void(0)">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Resumen</li>
  </ol>
  <div class="card d-flex w-100 mb-4">
    <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">
      <div class="card-body media align-items-center text-dark">
        <i class="lnr lnr-earth display-4 d-block text-primary"></i>
        <span class="media-body d-block ml-3"
          ><span class="text-big">
            <small class="text-muted">Buen día username</small><br />
            Hoy es
            <span class="mr-1 text-primary"> day de month de year </span></span
          >
        </span>
      </div>
    </div>
  </div>

  <div class="card d-flex w-100 mb-4">
    <div class="row no-gutters row-bordered row-border-light h-100">
      <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">
        <div class="card-body media align-items-center text-dark">
          <i class="lnr lnr-diamond display-4 d-block text-primary"></i>
          <span class="media-body d-block ml-3"
            ><span class="text-big mr-1 text-primary">$1584.78</span>
            <br />
            <small class="text-muted">Earned this month</small>
          </span>
        </div>
      </div>
      <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">
        <div class="card-body media align-items-center text-dark">
          <i class="lnr lnr-clock display-4 d-block text-primary"></i>
          <span class="media-body d-block ml-3"
            ><span class="text-big"
              ><span class="mr-1 text-primary">152</span>Working Hours</span
            >
            <br />
            <small class="text-muted">Spent this month</small>
          </span>
        </div>
      </div>
      <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">
        <div class="card-body media align-items-center text-dark">
          <i class="lnr lnr-hourglass display-4 d-block text-primary"></i>
          <span class="media-body d-block ml-3"
            ><span class="text-big"
              ><span class="mr-1 text-primary">54</span> Tasks</span
            >
            <br />
            <small class="text-muted">Completed this month</small>
          </span>
        </div>
      </div>
      <div class="d-flex col-sm-6 col-md-4 col-lg-6 align-items-center">
        <div class="card-body media align-items-center text-dark">
          <i class="lnr lnr-license display-4 d-block text-primary"></i>
          <span class="media-body d-block ml-3"
            ><span class="text-big"
              ><span class="mr-1 text-primary">6</span> Projects</span
            >
            <br />
            <small class="text-muted">Done this month</small>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
