<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Inicio</a>
      </li>
      <li class="breadcrumb-item">
          <a href="javascript:void(0)">Gestión</a>
        </li>
      <li class="breadcrumb-item active">Clientes</li>
    </ol>
  <div class="card mb-4">
    <h6 class="card-header">Lista de clientes</h6>
    <div class="card-body">
      <div *ngIf="isLoading" class="d-flex justify-content-center w-100">
      <div class="lds-ring d-flex justify-content-center"><div></div><div></div><div></div><div></div></div></div>
      <div class="alert alert-primary alert-dismissible fade show" *ngIf="clients.length==0 && !hasErrors && !isLoading">
        <button type="button" class="close" data-dismiss="alert">×</button>
        No hay clientes en el sistema!
      </div>
  
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="hasErrors && !isLoading">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Ha ocurrido un error al mostrar los clientes. Por favor, revisa tu conexión.
      </div>
  
      <div id="accordion">
        <div class="lg-accordion-container mb-1" *ngFor="let client of clients; let i = index">
          <div heading id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link w-100 lg-accordion-name" style=" text-align: left  !important;" data-toggle="collapse" attr.data-target="#a{{i}}" aria-expanded="true" aria-controls="collapseOne">
                {{client.name}} <a style="float:right;" class="badge badge-secondary lg-accordion-category"></a>
              </button>
            </h5>
          </div>
      
          <div id="a{{i}}" class="collapse lg-accordion-body" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="lg-accordion-data p-2 pl-3">
              <p class="mb-0"><b>Nombre: </b>{{ client.name }}</p>
              <p class="mb-0"><b>Dirección: </b>{{ client.address }}</p>
              <p class="mb-0"><b>Email: </b>{{ client.email }}</p>
              <p class="mb-n1 mt-1"><b>Descripción: </b></p>
                      {{ client.description }}<br /><br />
            </div>
          </div>
        </div>
       
      
      </div>
  </div>
  </div>
  </div>