

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: left;
  }
  
  .title-card-left{
    display: inline;
  }
  
  .done-icon {
    font-size: 150px;
    width: auto;
    height: auto;
    color: #6002ee;
  }
  
  .inner {
    text-align: center;
    align-items: center;
  }

  .lg-accordion-container{
    border-left: 3px solid #00bcd4;
    border-radius: 3px;
    background-color: #f7fafa
  }

  .lg-accordion-data{
    font-size:13px;
    color:#aaa;
  }

  .lg-accordion-category{
    margin-top:2px;
  }

  .divider{
    height: 1px;
    background-color: #eee;
  }

  .lg-accordion-list-attr{
    list-style-type: none;
    margin-left: 0;
    color:#CCC;
  }
  .lg-accordion-container{
    border-left: 3px solid #00bcd4;
    border-radius: 3px;
    background-color: #f7fafa
  }

  
.lg-accordion-body{
  background-color: white; 
  border-bottom: 1px solid #f7fafa;
  border-right:1px solid #f7fafa;
 }