<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 container-p-y">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Inicio</a>
      </li>
      <li class="breadcrumb-item">
          <a href="javascript:void(0)">Gestión</a>
        </li>
      <li class="breadcrumb-item active">Empleados</li>
    </ol>
  <div class="card mb-4">
    <h6 class="card-header">Lista de empleados</h6>
    <div class="card-body">
      <div *ngIf="isLoading" class="d-flex justify-content-center w-100">
      <div class="lds-ring d-flex justify-content-center"><div></div><div></div><div></div><div></div></div></div>
      <div class="alert alert-primary alert-dismissible fade show" *ngIf="team.length==0 && !hasErrors && !isLoading">
        <button type="button" class="close" data-dismiss="alert">×</button>
        No hay empleados en el sistema!
      </div>
  
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="hasErrors && !isLoading">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Ha ocurrido un error al mostrar los empleados. Por favor, revisa tu conexión.
      </div>
  
      <div id="accordion">
        <div class="lg-accordion-container mb-3" *ngFor="let member of team; let i = index">
          <div heading id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link w-100 lg-accordion-name" style=" text-align: left  !important;" data-toggle="collapse" attr.data-target="#a{{i}}" aria-expanded="true" aria-controls="collapseOne">
                {{member.name + ' ' +member.last_name}} <a style="float:right;" class="badge badge-secondary lg-accordion-category">{{ getCategory(member.category) }}</a>
              </button>
            </h5>
          </div>
      
          <div id="a{{i}}" class="collapse lg-accordion-body" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="lg-accordion-data p-2 pl-3">
              <p class="mb-0"><b>DNI: </b>{{ member.dni }}</p>
              <p class="mb-0"><b>CUIL: </b>{{ member.cuil }}</p>
              <p class="mb-0"><b>Teléfono: </b>2284 574139</p>
              
            </div>
          </div>
        </div>
       
      
      </div>
  </div>
  </div>
  </div>